<div>
  <label for="title"></label>
  <input type="text" id="title" #title>
  <button (click)="onAddCard(title.value)">Title</button>
</div>

<div>
  <button (click)="onGetCards()">Get Cards</button>
</div>
<div *ngIf="cardLists.length > 0">
  <h3>Card Titles from Django REST Service</h3>

    <div *ngFor="let cardList of cardLists; let cli = index">

      <h3>{{cardList.name}}</h3>

      <ul *ngIf="cardList.cards.length > 0">
        <sb-card-item *ngFor="let card of cardList.cards; let i = index" [card]="card" [cardId]="i"></sb-card-item>
      </ul>
    </div>


</div>
